body {
    background-image: url(https://i.pinimg.com/originals/35/eb/7d/35eb7d5bce221d9392feb1e426ba48af.jpg);
}

p {
color: white;
font-weight: 800px;
font-family: 'Roboto Condensed', sans-serif;
}
a {
    color: red;
font: weight 900px;
font-family: 'Roboto Condensed', sans-serif;
}
    .menu{
        margin-left: 20px;
    }
    div{
        display:grid;
        grid-template-columns: repeat(4,1fr);
        gap:25px;
        margin:10px 0px;
       
    }
    .Social{
        text-align: center;
    }
    footer{
        height:50px;
        width:20%;
        margin-top: 25px;
        display: flex;
        text-align:center;
    }
